.mission__inner{
    text-align: center;
}

.mission__inner h2{
    margin-bottom: 5rem;
}

.mission__cards{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 3.5rem;
    margin-bottom: 5.2rem;
}

@media(min-width: 1024px){
    .mission__cards{
        align-items: flex-start;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}

.mission-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mission-card img{
    margin-bottom: 3.5rem;
    width: 43px;
    height: 40px;
}

.mission-card:first-of-type img{
    margin-bottom: 2.5rem;
}

.mission-card h3{
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 4rem;
    border-bottom: 1px solid rgba(109 110 113 / 0.2);
    margin-bottom: 1.5rem;
}

.mission-card p{
    max-width: 28.5rem;
}

.mission__inner span{
    display: block;
    font-size: 2rem;
    color: #000000;
    font-weight: var(--semi-bold);
    font-family: var(--open-sans);
    text-transform: capitalize;
    margin-bottom: 2rem;
}
